@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --black: 40, 40, 40;
    --main: 0, 170, 255;
    --main-altered: 0, 200, 255;
}

body {
    color: rgb(var(--black));
    font-family: var(--baloo-2);
    text-align: justify;
}

::selection {
    color: rgb(var(--black));
    background: rgb(var(--main));
}

.dotted-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='10' height='10' fill='%23cccccc'/%3E%3C/svg%3E");
}

.dotted-bg-dimmed {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='10' height='10' fill='%23777777'/%3E%3C/svg%3E")
}

.primaryTextColor{
    color: rgb(var(--main));
}

.mainTextColor {
    color: rgb(var(--black));
}

.hoverable {
    position: relative;
    top: 0;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.hoverable:hover {
    top: -10px;
    box-shadow: 0 10px 20px rgba(var(--black), 0.8);
}

.hoverable-twist {
    position: relative;
    transition: all 400ms ease;
    transform: none;
}

.hoverable-twist:hover {
    transform: scale(1.2) rotate(5deg);
}

a {
    text-decoration: underline;
    text-underline-offset: 0.25rem; 
    font-size: 1rem; 
    font-weight: bold;
    color: rgb(var(--main))
}