@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* shadcn begin */
@layer base {
  :root {
        
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* shadcn end */

:root {
    --black: 40, 40, 40;
    --main: 68, 221, 170;
}

body {
    color: rgb(var(--black));
    font-family: var(--baloo-2);
    text-align: justify;
}

::selection {
    color: rgb(var(--black));
    background: rgb(var(--main));
}

.dotted-bg {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='10' height='10' fill='%23cccccc'/%3E%3C/svg%3E");
}

.dotted-bg-dimmed {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='10' height='10' fill='%23777777'/%3E%3C/svg%3E")
}

.primaryTextColor{
    color: rgb(var(--main));
}

.mainTextColor {
    color: rgb(var(--black));
}

.hoverable {
    position: relative;
    top: 0;
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.hoverable:hover {
    top: -10px;
    box-shadow: 0 10px 20px rgba(var(--black), 0.8);
}

.hoverable-twist {
    position: relative;
    transition: all 400ms ease;
    transform: none;
}

.hoverable-twist:hover {
    transform: scale(1.2) rotate(5deg);
}

a {
    text-decoration: underline;
    text-underline-offset: 0.25rem; 
    font-size: 1rem; 
    font-weight: bold;
    color: rgb(var(--main))
}